---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import SearchCollection from "@components/SearchCollection";
import { POINTS } from "@consts";
const points = (await getCollection("blog"))
  .filter((post) => !post.data.draft && post.data.category === "points")
  .sort((a, b) => (b.data.pubDate || b.data.date).getTime() - (a.data.pubDate || a.data.date).getTime());

const tags = [
  ...new Set(points.flatMap((post) => post.data.tags)),
].sort((a, b) => a.localeCompare(b));

const estimated_initial_size =
  28 + points.length * 158 + (points.length - 1) * 12;
---

<PageLayout title={POINTS.TITLE} description={POINTS.DESCRIPTION}>
  <TopLayout>
    <div class="animate">
      <h1 class="text-3xl font-semibold text-black dark:text-white mt-2">
        {POINTS.TITLE}
      </h1>
      <div class="mt-1">
        {POINTS.DESCRIPTION}
      </div>
    </div>
  </TopLayout>
  <BottomLayout>
    <div
      id="search-collection-wrapper"
      class="animate"
      style={{ minHeight: `${estimated_initial_size}px` }}
    >
      <SearchCollection
        client:load
        entry_name={"points"}
        tags={tags}
        data={points}
        initialTags={["表浜名湖", "中浜名湖", "奥浜名湖"]}
      />
    </div>
  </BottomLayout>
</PageLayout>
